* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


#root {
	display: flex;
	justify-content:center;
	padding-top: 2rem;
}

ul {
	flex:0 0 50%;
	border: 1px solid rgba(0,0,0,.15);
}

li {
	
	list-style: none;
}

li h2{
	padding: 1rem;
	cursor: pointer;
	border-bottom: 1px solid rgba(0,0,0,.15);
}

li.is-active h2{
	background: rgba(0,0,0,.05);
}

li div {
	display: none;
	padding: 2rem 1rem;
	border-bottom: 1px solid rgba(0,0,0,.15);
}

li.is-active div {
	display: block;
}